@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root{
	--white: #ffffff;
	--grey: #cccccc;
	--dark-grey: #555555;
	--blue: #4f6fad;
	--pink: #ee9cb4;
}

*{box-sizing: border-box}
.contact-page {font-family: 'Lato', sans-serif}

.contact-page .container {
	max-width: 510px;
	min-width: 320px;
	margin: 50px auto 0;
	background-color: var(--white);
	border: 1px solid rgba(204,204,204,1);
	border-bottom: 3px solid var(--grey);
}

.contact-page .row{width:100%;margin:0 0 1em 0;padding:0 2.5em}
.contact-page .row.header{padding:1.5em 2.5em;border-bottom:1px solid var(--grey);background: url(https://images2.imgbox.com/a5/2e/m3lRbCCA_o.jpg) left -80px; color:var(--white)}
.contact-page .row.body{padding:.5em 2.5em 1em}

.pull-right{float:right}
.contact-page h1{font-weight:300;display:inline-block;font-size:2.4rem;border-bottom:1px solid rgba(255,255,255,0.3);margin:0 0 .1em 0;padding:0 0 .4em 0}
.contact-page h3{font-weight:400;font-size:1.1rem;margin:1em 0 0.4em 0}

.btn{font-size:1rem;display:inline-block;padding:.7em 1.5em;margin:1.5em 0 0;color:var(--white);border:0;text-transform:uppercase;background:#999;font-family:'Lato',sans-serif}
.btn.btn-submit{background:var(--blue);border-bottom:3px solid #2f4f7a}

.contact-page form ul{margin:0;padding:0;list-style:none}
.contact-page form li{margin:0 0 .25em 0;clear:both;display:inline-block;width:100%}
.contact-page label{display:block;margin:0 0 .5em 0;color:var(--blue);font-size:1rem}
.contact-page input[type="text"],
.contact-page input[type="email"],
.contact-page textarea{margin:0 0 .5em 0;border:1px solid var(--grey);padding:6px 10px;color:var(--dark-grey);font-size:1rem;width:100%}

.contact-page .divider{margin:.5em 0 .5em 0;border:0;height:1px;width:100%;display:block;background-image:linear-gradient(to right,var(--pink),var(--blue))}

.contact-page .req{color:var(--pink)}

@media only screen and (max-width:480px){
	.pull-right{float:none}
	.contact-page input, .contact-page textarea{width:100%}
	.contact-page label{width:100%;display:inline-block;float:left;clear:both}
	.contact-page li, .contact-page p{width:100%}
	.contact-page input.btn{margin:1.5em 0 .5em}
	.contact-page h1{font-size:1.6rem}
	.contact-page h3{font-size:1.125rem}
	.contact-page li small{display:none}
}


